.search-container {
  position: relative;
  margin-bottom: 20px;
  max-width: 30%;
}

.search-bar {
  width: 100%;
  padding: 14px 0px 14px 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar:focus {
  border-color: #646cff;
}

.search-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.search-icon:hover {
  background-color: grey;
}

